.container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 20px;
}

.search-filter {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.adjusted-width{
  width: 20%;
}

.search-alignment{
  width: 33%;
  text-align: left;
  margin-right: 680px;
}

.button-alignment{
  text-align: right;
}
